ul { 
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 0;
  
    li a {
      text-decoration: none;
      color: black;
      font-family: 'Merriweather', serif;
      font-weight: 300;
    }
  }

