@media (max-width: 480px) {
    .container{
        grid-template-columns: 1fr;
    }

    .arkmap{
        flex-direction: column;
    }

    .mapa{
        width: 100%;
    }

    #texto{
        padding-right: 0 !important;
    }

    #info{
        margin: 0 100px;
    }

}