h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: $primary-color;
  }
  
  h2 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: $secondary-color;
    text-align: center;
  }
  
  body {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }